page-home {}

.item-md {
  background: color($colors, dark);
}

.item-md p {
  color: #fff;
}

.content-md {
  color: #fff;
  background-color: #212121;
}

.card-md h2 {
  color: #fff;
}

.card-md p {
    color: #fff;
}